@{
    ViewBag.Title = "adminFun";
}



    <div class="row">
    <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1 style ="font-size:x-large;color:lightblue">Welcome to College Management System</h1><br /><br />
            <a href="/admin/addTeacher" style="font-size:x-large;color:aquamarine" > Add Teacher</a><br /><br />
            <a href="/admin/addStudent" style="font-size:x-large;color:aquamarine">Add Student</a><br /><br />
            <a href="/admin/removeStudent" style="font-size:x-large;color:aquamarine">Remove Student</a><br /><br />
            <a href="/admin/removeTeacher" style="font-size:x-large;color:aquamarine">Remove Teacher</a><br /><br />
            <a href="/admin/uploadFile" style="font-size:x-large;color:aquamarine">Upload File</a><br /><br />
    </div>
    <div class="col-md-3">
       
    </div>
        </div>