@{
    ViewBag.Title = "adminLogin";
}
    <form action="/admin/adminFun" method="post">

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1 style="font-size:x-large;color:lightblue">Login to Check Your Credentials</h1><br /><br />
            <div class="inputdata">
                <label style="color:aquamarine;font-size:x-large"> Enter the Name    </label>
                <div style="display:inline"> <input type="text" name="accessCode" id="AccessCode" value="" placeholder="" /> </div>
                <div class="clear"></div>
            </div><br />
            <div class="inputdata">
                <label style="color:aquamarine;font-size:x-large"> Enter Password </label>
                <div style="display:inline"> <input type="text" name="accessCode" id="AccessCode" value="" placeholder="" /> </div>
                <div class="clear"></div>
            </div><br />
            <input type="submit" value="submit" />
        </div>
    </div>
</form>