@model cms.Models.Teacher
@{
    ViewBag.Title = "removeTeacher";
}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form action="/admin/remove" method="post">
                <h1 style="font-size:x-large;color:lightblue">Removing Teacher Record</h1><br />
                <table>
                    <tr>
                        <td>
                            <label class="text-muted">Enter id</label>
                        </td>
                        <td>

                            @Html.TextBoxFor(m => m.id, new { placeholder = "your id" });
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="submit" />
                        </td>
                    </tr>
                </table>
            </form>
            </div>
        </div>
            

