@model List<cms.Models.Student>
@{
    ViewBag.Title = "markAttendance";
}
<form action="/teacher/attendance1" method="post">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <label style="font-size:large;color:aquamarine">Date</label>
        <input type="text" style="background-color:aquamarine" value="DD/MM/YYYY" name="date" /><br /><br />
        <style>
            table, th, td {
                border: 1px solid white;
            }
        </style>

        <table style="width:300px">
            <tr>
                <td style="color:lavender;font-family:'Bookman Old Style'">Name</td>
                <td style="color:lavender;font-family:'Bookman Old Style'">absent/present</td>
            </tr>

            @foreach (var x in Model)
            {
                <tr>
                    <td style="color:lavender;font-family:'Bookman Old Style'">@x.name.ToString()</td>
                    <td style="color:lavender;font-family:'Bookman Old Style'"><input type="checkbox" name="@x.name.ToString()" /></td>
                </tr>
            }
        </table><br /><br />
        <input type="submit" value="submit" />


    </div>
</form>