@{
    ViewBag.Title = "teacherFun";
}


    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <h1 style="font-size:x-large;color:lightblue">Welcome To College Management System</h1><br />
            <a href="/teacher/markAttendance" style="font-size:x-large;color:aquamarine">Mark Attendance</a><br /><br />
            <a href="/teacher/submitMarks" style="font-size:x-large;color:aquamarine">Submit Marks</a><br />
        </div>
    </div>
