@{
    ViewBag.Title = "Index";
}   

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-7"> <h1  style="font-size:xx-large;color:lightblue;font-family:Andalus;text-decoration-style:dotted" >College Management System</h1></div>
    <div class="col-md-2"></div><br /><br /><br />
</div>
    <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5"><h1 style="color:aquamarine; font-size:x-large;font-family:'Bookman Old Style'" > College Management System is a software developed to raise the standard of education in colleges.This software is useful for teachers,students as well as college administration.It will help in communication between teachers,students and college administration.There are saparate accounts for admins,teachers and students.Admin can remove and add teachers and students while teacher can upload marks and submit attendance.Student has the facility of view marks and attendance.</h1></div>
    <div class="col-md-6"><img src="~/img/mm.jpg" height="200" width="500" /><br /></div>
</div>


