@{
    ViewBag.Title = "login";
}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4"><h1 style="font-size:x-large;color:lightblue;font-family:'Bookman Old Style'">LOGIN AS</h1><br /><br />
        <div class="btn-group" data-toggle="buttons-radio">
  <a href="/admin/adminLogin"class="text-muted" style="font-size:x-large"> Admin</a><br /><br />
            <a href="/teacher/teacherLogin" class="text-muted" style="font-size:x-large"> Teacher</a><br /><br />
            <a href="/student/studentLogin" class="text-muted" style="font-size:x-large"> Student</a><br /><br />
</div>
    </div>
    <div class="col-md-6"><img src="~/img/sl-8.jpg" height="200" width="500" /><br /></div></div>
    

    