@{
    ViewBag.Title = "studentFun";
}

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <h1 style="font-size:x-large;color:lightblue">Welcome To College Management System</h1><br />
            <a href="/student/viewAttendance" style="font-size:x-large;color:aquamarine">View Attendance</a><br /><br />
            <a href="/student/viewMarks" style="font-size:x-large;color:aquamarine">View Marks</a>
        </div>
    </div>

